<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <style>
        #board {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);
            gap: 5px;
            justify-content: center;
            margin-top: 50px;
        }
        .cell {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            border: 1px solid #000;
            cursor: pointer;
        }
        button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1em;
        }
    </style>
</head>
<body>
    <div id="board">
        <a class="cell" data-row="0" data-col="0" href="/move:0:0:{{room_name}}">{{b00}}</a>
        <a class="cell" data-row="0" data-col="1" href="/move:0:1:{{room_name}}">{{b01}}</a>
        <a class="cell" data-row="0" data-col="2" href="/move:0:2:{{room_name}}">{{b02}}</a>
        <a class="cell" data-row="1" data-col="0" href="/move:1:0:{{room_name}}">{{b10}}</a>
        <a class="cell" data-row="1" data-col="1" href="/move:1:1:{{room_name}}">{{b11}}</a>
        <a class="cell" data-row="1" data-col="2" href="/move:1:2:{{room_name}}">{{b12}}</a>
        <a class="cell" data-row="2" data-col="0" href="/move:2:0:{{room_name}}">{{b20}}</a>
        <a class="cell" data-row="2" data-col="1" href="/move:2:1:{{room_name}}">{{b21}}</a>
        <a class="cell" data-row="2" data-col="2" href="/move:2:2:{{room_name}}">{{b22}}</a>
    </div>
    <button id="refresh" onclick="window.location.href='/ttt';">Refresh</button>
    
    <script>

    </script>
</body>
</html>

