<div style="width: 670px;  overflow: hidden;">
    <div style="float:left;">
        <svg id="drawing" width="500" height="500"></svg>
    </div>
    <div style="float:left;" id="controls" width="150" height="500">
        <div id="select_board">
            <div>
                <input type="radio" id="6x6" name="board" value="6x6" checked>
                <label for="6x6">6x6</label>
            </div>
            <div>
                <input type="radio" id="8x8" name="board" value="8x8">
                <label for="8x8">8x8</label>
            </div>
            <div>
                <input type="radio" id="10x10" name="board" value="10x10">
                <label for="10x10">10x10</label>
            </div>
        </div>
        <button type="button" class="container" id="restart">restart</button>
        <div id="msg" style="width: 150px;"></div>
    </div>
</div>
<script type="text/python" src="../../_static/play_checkers.py"> </script>
