
<div style="width: 670px;  overflow: hidden;">
    <div style="float:left;">
        <svg id="drawing" width="500" height="400"></svg>
    </div>
    <div style="float:left;" id="controls" width="150" height="400">
        <label class="container">title bar
            <input type="checkbox" checked="checked" id="title">
        </label>

        <label class="container">drop shadow
            <input type="checkbox" id="shadow">
        </label>

        <label class="container">Mac icons
            <input type="checkbox" id="icons">
        </label>

        <label class="container">menu
            <input type="checkbox" id="menu">
        </label>
        <button type="button" class="container" id="clear">clear</button>
    </div>
</div>
<script type="text/python" src="../../_static/decorated_windows.py"> </script>
