<div style="width: 600px;  overflow: hidden;">
    <div style="float:left;">
        <svg  id="svg" xmlns="http://www.w3.org/2000/svg" class="right" width="300" height="300"></svg>
    </div>
    <div style="float:left;">
        <div id="t_box">t = <div style="width: 70px" id="t_is"></div></div>
        <div id="d_box">d = <div style="width: 70px" id="d_is"></div></div>
    </div>
</div>
<script type="text/python">
  from browser import document
  from math import sqrt
  from core.HtmlViewport import HtmlViewport

  class Vec2:
    def __init__(self, x, y):
      self.x = x
      self.y = y

  def mouseover(ev): ev.target.style.cursor = "pointer"

  def start_drag(ev):
      global clicked_point, is_dragged
      print("start")
      clicked_point.x, clicked_point.y = ev.x, ev.y
      is_dragged = True

  def end_drag(ev):
      global is_dragged
      print("stop")
      is_dragged = False

  def drag(ev):
      global clicked_point, dragged_vect, is_dragged

      if not is_dragged: return
      dragged_vect.x = ev.x - clicked_point.x
      dragged_vect.y = ev.y - clicked_point.y

      draw()

  def point_on_segment_projection(begin_segment, end_segment, point):

    px = end_segment.x - begin_segment.x
    py = end_segment.y - begin_segment.y
    norm = px*px + py*py

    t = ((point.x - begin_segment.x) * px + (point.y - begin_segment.y) * py) / norm
    x = begin_segment.x + t * px
    y = begin_segment.y + t * py

    dx = x - point.x
    dy = y - point.y

    return t, dx*dx + dy*dy, x, y

  def draw() :
    global drawing, beg, end, point, dragged_vect

    px = point.x + dragged_vect.x
    py = point.y + dragged_vect.y

    t, d2, xc, yc = point_on_segment_projection(beg, end, Vec2(px,py))
    document["t_is"].html = "%.2f" % (t)
    document["d_is"].html = "%.2f" % (sqrt(d2))

    drawing.clear()
    drawing.line("l1",beg.x,beg.y,end.x,end.y, style="stroke=red stroke-width=2")
    drawing.line("l2",px, py, xc, yc, style="stroke=black stroke-width=1 stroke-dasharray='4 1 4 1'")
    drawing.text("d", (px+xc)/2, (py+yc)/2, "d")
    drawing.text("t", xc+10, yc-10, "t")
    drawing.rect("drag_box", 0, 0, 300, 300, style="opacity=0.0")
    drawing.circle("c1",px, py, 7, style="stroke=gray stroke-width=3 fill=white")
    drawing.finalize()
    document["c1"].bind("mousedown", start_drag)
    document["drag_box"].bind("mouseup", end_drag)
    document["c1"].bind("mouseup", end_drag)
    document["drag_box"].bind("mousemove", drag)
    document["c1"].bind("mousemove", drag)
    document["c1"].bind("mouseover", mouseover)

  clicked_point = Vec2(0,0)
  dragged_vect = Vec2(0,0)
  beg, end, point = Vec2(90,90), Vec2(200,200), Vec2(50,190)
  drawing = HtmlViewport(document['svg'],0,0,300,300)
  draw()

</script>
