<div> <svg  id="svg" xmlns="http://www.w3.org/2000/svg" class="right" width="300" height="300"></svg>
    <div id="order">kliknij na koło aby posortować elementy<br></div>
</div>
<script type="text/python">
  from random import random
  from browser import document
  from visualife.core.HtmlViewport import HtmlViewport

  class Circle:
    def __init__(self, id, x, y) :
      self.id = id
      self.x = x
      self.y = y

    def __str__(self) : return self.id

  def draw_circles(circles) :
    global drawing
    for c in circles:
      drawing.circle(c.id, c.x, c.y, 10, style='fill=lightsalmon stroke=salmon')
      drawing.text("t"+c.id, c.x, c.y,c.id)
      drawing.define_binding(c.id,"click",re_sort)
      drawing.close()
      drawing.apply_binding()

  def re_sort(ev) :
    global circles
    cc = circles[int(ev.target.id)]
    circles_sorted = sorted(circles,key=lambda c: (c.x - cc.x)*(c.x - cc.x) + (c.y - cc.y)*(c.y - cc.y) )
    out = "Kolejno od najbliższego do  koła nr %s: " % cc.id
    for c in circles_sorted : out += str(c.id) + " "
    document["order"].html = out + "<br>"

  drawing = HtmlViewport(document['svg'],300,300)
  circles = []
  for i in range(10) :
    circles.append( Circle(str(i),random()*250+25, random()*250+25) )
  draw_circles(circles)
</script>
